<% provide(:title, 'Add Employee') %>
<h1>Add Employee</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(employee_index_url) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :address %>
      <%= f.text_field :address %>
      
      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.label :email %>
      <%= f.email_field :email %>
      
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Add employee to the system", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>