<% provide(:title, 'All Services') %>
<h3>List of Services that was Provided to the Client</h3>

<table border="1">
  <th width="100px">Service Type</th>
  <th width="100px">Site Name</th>
  <th width="100px">Client Name</th>
  <th width="100px">Date</th>
  <th width="100px">Employee Name</th>
  <th width="100px"></th>
<ul class="users">
  <% @services.each do |service| %>
    
      <tr>
      <td><%= service.service_type %></td>
      <td><%= service.site_name %></td>
      <td><%= service.client_name %></td>
      <td><%= service.date %></td>
      <td> <%= service.employee_name %></td>
      <td> <%= link_to "Delete", service, method: :delete,
                                  data: { confirm: "Yes/No" } %></td>
      </tr>
   
  <% end %>
</ul>
<table>