<% provide(:title, @site.site_name) %>
<h1> Details of <%= @site.site_name %> site </h1>
<%= gravatar_for @site %>
<h2> Name of the site: <%= @site.site_name %></h2>
<h2> Location of the site: <%= @site.site_address %>, <%= @site.city %>, <%= @site.state %>, <%= @site.zipcode%></h2>
<h2>Contact number of the site: <%= @site.site_contact_number %> </h2>



